html{
    scroll-behavior: smooth;
}
body{
    /*font-family: 'Handlee', cursive;*/
font-family: 'Montserrat', sans-serif;


}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;

}
/*Header start*/
header{
    background-image: url("2.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.navbar{
    padding:  1% 10%;
    background-color: rgba(0, 0, 0, 0.3);
   
    
}
.nav-link{
    color: white;
    margin: 10px;
    border-radius: 5px;
    transition: 0.4s;


}
.nav-link:hover{
    background-color: gray;
    color: white;
    margin: 10px;
    border-radius: 5px;
    transform: scale(1.1);


}
.navbar-brand img{
    height: auto;
}
.navbar-icon{
    color: white;
}
.banner-section{
    height: 100vh;
}
.banner-section h1{
    font-size: 3.5rem;
    background-color: rgba(7, 101,189, 0.4);
    padding: 10px 20px;
    font-family: 'Handlee', cursive;
    border-radius: 5px;
} 

/*feature starts*/
#feature{
    padding: 5% 10%;
    background-color: #e8ded2;
}
.feture-col{
    border: 1px solid #ff02c0;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
    transition: 0.4s;
}
.feture-col:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}
.icon-style
{
    background-color: #bb0aac;
    padding: 15px;
    color: white;
    margin: 5px 0;
}


/*feature Ends Here*/
/*About section start*/
/*Cannot worke */
.hr-style{
    border: 5px dotted #e8ded2;
    border-bottom: none;
    width: 50px;
    text-align: center; 
} 
#about-section
{
    padding: 4% 10%;
    background-color: #e8ded2;

}
#about-section a{
    font-size: 00.9rem;
    font-weight: lighter;
    color: black;
    text-decoration: underline;

}
#about-section p{
    font-size: 0.9rem;
    margin-bottom: 0;
    font-weight: lighter;
}
.my-education{
    font-size: 0.9rem;
    margin-bottom: 0;
    font-weight: lighter;
}
.my-education span{
    font-weight: 700 !important;
}

 

/*About section ends here*/

/*Turorial Section start Here*/

#tutorial{
    background-color: #a3d2ca;
    padding: 4% 10%;
}
.card{
    transition: 0.4s;
    border: 1px solid #bb0aac;
    border-radius: 5px;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}
/*Tutorial Section End Here*/
/*Feedbacl section Start Here*/
#feedback{
    background-color: #5ea888;
    padding: 4% 10%;
}


/*Feedback section end here*/

/*Contact section started herer*/
#contact{
    background-color: #5ea888;
    padding: 4% 10%;
}
.form-group label{
    font-weight: 700;
    margin-bottom: 0;
}

/*Contact section end here*/

/*footer section*/
footer{
    padding: 2% 10%;
    background-color: #506676;
}
/*footer section end here*/
